<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<div class="center-block" style="margin: 2% 10% 10%;">
    <div class="col-12" style="text-align: center;">
        <h1><strong>Numbers Divisible by 2</strong></h1>
    </div>

    <div class="jumbotron text-left row">
        <div class="col-md-3">
            <img src="https://images.thdstatic.com/productImages/99750192-6a8d-4ec1-962e-cc7c05f135fd/svn/montague-metal-products-house-numbers-address-letters-hhn-2-4-64_1000.jpg" style="height: 150px" >
        </div>
        <div class="col-md-9">
            <h3><strong>What are numbers divisible by 2?</strong> A number is divisible by 2 if it has a 0, 2, 4, 6, or 8 in the ones place. It is additionally considered even if it is divisible by 2 with the outcome of a whole number.</h3>
        </div>
    </div>

    <div class="jumbotron text-left row">
        <div class="col-md-9">
            <h3><strong>In a coders perspective:</strong> If you are aware of what the modulo operator is (%), it functions almost the same way when dividing a number by two to test whether or not it's even. The modulo operator tests to see whether or not the left hand operand is divisible by right hand operand while stating if there's a remainder or not. </h3>
        </div>
        <div class="col-md-3">
            <img src="https://www.freecodecamp.org/news/content/images/2019/09/image-197.png" style="height: 150px" >
        </div>
    </div>


{% endblock %}
</div>
